// SearchResult.scss
.search-result {
    position: fixed;
    bottom: 60px; /* Adjust based on your mobile menu height */
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.2);
  
    .result-item {
      padding: 10px;
      border-bottom: 1px solid #ccc;
  
      &:last-child {
        border-bottom: none;
      }
    }
  }
  